In [1]:
import pandas as pd

test = pd.read_csv("data/processed/FundsGDPhealth_export.csv")

In [2]:
test.dtypes

country                  object
TotalFundsPerCountry    float64
TIME                     object
GDP2013                 float64
GDP2014                 float64
GDP2015                 float64
GDP2016                 float64
GDP2017                 float64
GDP2018                 float64
GDP2019                 float64
GDP2020                 float64
GDP2021                 float64
GDP2022                 float64
GDP2023                 float64
GDP2024                 float64
GDPM2124                float64
HLY2011                 float64
HLY2012                 float64
HLY2013                 float64
HLY2014                 float64
HLY2015                 float64
HLY2016                 float64
HLY2017                 float64
HLY2018                 float64
HLY2019                 float64
HLY2020                 float64
HLY2021                 float64
HLY2022                 float64
HLY1922                 float64
HLY2122                 float64
dtype: object

In [3]:
test["HLY2012"].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
5       <class 'str'>
6       <class 'str'>
7       <class 'str'>
8       <class 'str'>
9       <class 'str'>
10      <class 'str'>
11      <class 'str'>
12      <class 'str'>
13      <class 'str'>
14      <class 'str'>
15      <class 'str'>
16      <class 'str'>
17      <class 'str'>
18      <class 'str'>
19    <class 'float'>
20      <class 'str'>
21      <class 'str'>
22      <class 'str'>
23      <class 'str'>
24      <class 'str'>
25      <class 'str'>
26    <class 'float'>
27      <class 'str'>
28      <class 'str'>
29      <class 'str'>
30      <class 'str'>
31    <class 'float'>
32    <class 'float'>
33    <class 'float'>
34    <class 'float'>
35    <class 'float'>
Name: HLY2012, dtype: object

In [3]:
test.head()

,country,TotalFundsPerCountry,TIME,GDP2013,GDP2014,GDP2015,GDP2016,GDP2017,GDP2018,GDP2019,...,HLY2015,HLY2016,HLY2017,HLY2018,HLY2019,HLY2020,HLY2021,HLY2022,HLY1922,HLY2122
0,DE,1.372633e+09,Germany,35550.0,36860.0,37770.0,38810.0,40300.0,41390.0,42540.0,...,66.4,66.4,66.0,65.8,66.3,65.7,65.6,61.1,64.675,63.35
1,FR,1.080479e+09,France,32280.0,32620.0,33200.0,33530.0,34290.0,35080.0,36090.0,...,63.6,63.4,63.7,63.9,64.1,64.6,66.2,64.4,64.825,65.30
2,NL,9.475534e+08,Netherlands,39610.0,40240.0,41270.0,42290.0,43830.0,45690.0,47840.0,...,59.1,60.3,60.0,59.2,61.0,61.1,60.3,58.5,60.225,59.40
3,ES,8.656816e+08,Spain,22020.0,22380.0,23440.0,24190.0,25160.0,25950.0,26620.0,...,64.0,66.2,69.4,68.0,69.9,66.3,62.8,61.2,65.050,62.00
4,IT,7.217855e+08,Italy,26880.0,27120.0,27620.0,28360.0,29070.0,29690.0,30200.0,...,62.6,67.4,66.3,66.8,68.3,68.0,68.1,67.4,67.950,67.75